page-future {

  ion-content {
    background-color: $secondary !important;
    color: $white !important;
    font-family: "Brandon Grotesque", "Raleway", -apple-system, "Helvitica Neue", sans-serif !important;
  }

  .flex-container {
    padding: 0;
  }

  h1 {
    font-family: "Raleway", "Brandon Grotesque", sans-serif;
    text-transform: uppercase;
    color: #FFF;
    font-size: 4.8rem;
    font-size: 4rem;

    .primary-yellow {
      color: $primary;
    }
  }

  .flex-container.height-full {
    max-width: 100%;
    height: 100%;
    max-height: calc(100vh - 86px);

    // Override padding on grid and columns
    // Push size to full height/width taking into account the bottom tabs
    max-height: calc(100vh - 64px);

    .future {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100vw;
      height: 100vh;
      display: block;

      height: calc(100vh - 86px);

      // Override padding on grid and columns
      // Push size to full height/width taking into account the bottom tabs
      height: calc(100vh - 64px);

      &.one {
        background-image: url('../assets/img/future/PacWest-Lobby_02-min.jpg');
      }
      &.two {
        background-image: url('../assets/img/future/PacWest-Lobby_08-min.jpg');
      }
      &.three {
        background-image: url('../assets/img/future/PacWest-Lobby_09-min.jpg');
      }
      &.four {
        background-image: url('../assets/img/future/PacWest-Gym_01-min.jpg');
      }
      &.five {
        background-image: url('../assets/img/future/PacWest-Gym_02-min.jpg');
      }

    }

    .flex-container {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 100;
      display: block;
      bottom: 80px;
      // left: 80px;
      max-width: 1366px;

      .flex-item {
        margin: 0 auto 0 0;
        margin-left: 96px;
        width: 64%;
        min-width: 740px;
        max-width: 1120px;

        h1, h2, p {
          text-align: left;
          text-shadow: 0px 3px 4px rgba(0,0,0,0.56);
        }

        span.caption {
          background: rgba(0,0,0,0.56);
          padding: 0.4rem 0.8rem;
          line-height: 3.4rem;
        }
       }

    }
  }

  .flex-container.overlay {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    display: block;

    top: 24%;

    top: 240px;
    width: auto;
    left: 16%;

    .flex-item {
      margin: 0 auto;

      h1, h2, p {
        text-align: left;
        text-shadow: 0px 3px 4px rgba(0,0,0,0.56);
      }
     }

  }

  .text-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
  }

  ion-grid,
  ion-grid ion-col,
  ion-grid ion-row ion-col ion-row ion-col {
    padding: 0 !important;
  }

  .swiper-pagination-bullet {
    background: $secondary;
    border: 2px solid $secondary;
    border-radius: 50%;
    width: 14px;
    height: 14px;
  }
  .swiper-pagination-bullet-active {
    background: $primary;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }

}
