page-floor-plans {

  ion-content {
    background-color: $secondary;

    .scroll-content {
      background: $secondary;
    }

    .main-container {
      max-width: 2200px;
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      margin: 0 auto;

      padding: 80px 180px 0px;

      @media (max-width: 800px) {
        padding: 0;
      }

      @include MQ(larger) {
        padding-left: 0;
        padding-right: 0;
      }

      @include MQ(L) {
        padding-left: 0;
        padding-right: 0;
      }

      @include MQ(XL){
        padding-left: 120px;
        padding-right: 20px;
      }

      @media (min-width: 1920px) {
        padding-right: 180px;
      }

      @include MQ(iPadPro_w & iPadPro_h) {
        padding: 80px 0 0;
      }
    }

    ion-row {
      justify-content: flex-end;
    }
  }

  #background.building {
    background-image: url('../assets/img/floor-plans/pacwest-building-floor-plans-min-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    z-index: -2;
    left: 0;
    height: 2020px;
    width: 1840px;
    opacity: 1;

    @media (max-width: 800px) {
      left: -500px;
      top: 0;
      position: absolute;
    }

    @include MQ(larger) {
      left: -220px;
      top:0px;
      position: absolute;
    }

    @include MQ(L) {
      left: -220px;
      top:0px;
      position: absolute;
    }

    @include MQ(XL) {
      position: relative;
    }

    @include MQ(XXL) {  }

    @include MQ(iPadPro_w & iPadPro_h) {
      left: -275px;
      top: 0px;
      position: absolute;
    }
  }

  .header-title {
    position: absolute;
    display: block;
    top: 120px;
    right: 56px;

    h1 {
      text-transform: uppercase;
      color: #FFF;
      font-size: 4rem;

      .primary-yellow {
        color: $primary;
      }
    }


    @include MQ(larger) { //iPad Sized
      right: 16px;
    }
    @include MQ(L) { //iPad Sized
      right: 16px;
    }
    @include MQ(XL) {
      right: 28px;
      top: 240px;
    }

    @media (min-width: 1920px) {
      right: 196px;
    }

    @include MQ(XXL) {
      right: 16%;
      right: 240px;
      top: 240px;

      h1 {
        font-size: 4.8rem;
      }
    }
    @include MQ(iPadPro_w & iPadPro_h) {
      right: 40px;

      h1 {
        font-size: 4.2rem;
      }
    }
  }

  @media (max-width: 1920px) {
    .header-title {
      padding: 0.3rem 0.8rem;
    }

    .flex-container {
      max-width: 1280px;
    }
  }

  .flex-container {
    width: 924px;
    float: right;
    top: 584px;

    top: 445px;
    right: 40px;

    width: 100%;
    // max-width: 1240px;

    @media (max-width: 800px) {
      right: 0;
    }

    @include MQ(larger) { //iPad Sized
      right: 8px;
      // top: calc(465px - 80px);
    }

    @include MQ(L) { //iPad Sized
      right: 8px;
      top: 365px;
    }


    @include MQ(XL) {
      right: 0px;
      // top: 320px;
    }

    @include MQ(XXL) {
      // right: 16%;
      // max-width: 57vw;
    }

    @include MQ(iPadPro_w & iPadPro_h) { //iPad Pro
      right: 40px;
      top: 365px;
      max-width: 1080px;
    }
  }

  .ste-container {
    display: inline-block;
    background: white;
    float: right;
    padding: 0.3rem 0.6rem;
    margin-left: 8px;
    margin-bottom: 8px;

    h2 {
      display: inline-block;
      font-size: 1.4rem;
    }

    button {
      display: inline-block;
      top: -6px;
      border-radius: 0;
      box-shadow: none;
      font-size: 1.2rem;
      padding: 0 1rem;
      height: 3.2rem;
    }
  }

  @media (max-width: 2400px) {
    .ste-container {
      padding: 0.3rem 0.8rem;
    }
  }

  ion-grid ion-row.row:before,
  ion-grid ion-row.row::before {
    content: '';
    background: #FFF;
    width: calc(100% + 290px);
    height: 57px;
    position: absolute;
    opacity: 0.7;
    z-index: -2;
    left: -300px;
    margin-top: -13px;
    right: 10px;
    left: auto;

    @media (max-width: 529px) {
      background: transparent !important;
    }
  }

  ion-row {
    &:first-child {
      margin-top: 0px;
    }
    &:nth-child(2) {
      margin-top: 0px;
    }
    &:nth-child(3) {
      margin-top: 74px;

      @media (max-width: 800px) {
        margin-top: 37px;

        &:before,
        &::before {
          height: 122px !important;
        }
      }
    }
    &:nth-child(4) {
      margin-top: 46px;

      @media (max-width: 800px) {
        margin-top: 18px;
      }
    }
    &:nth-child(5) {
      margin-top: 156px;
    }
    &:nth-child(6) {
      margin-top: 46px;
    }
    &:nth-child(7) {
      margin-top: 220px;

      @media (max-width: 800px) {
        margin-top: 188px;

        &:before,
        &::before {
          height: 122px !important;
        }
      }
    }
    &:nth-child(8) {
      margin-top: 120px;

      @media (max-width: 800px) {
        margin-top: 88px;
      }
    }
    &:nth-child(9) {
      margin-top: 20px;
    }
  }

  ion-list {
    margin-bottom: 0 !important;

    ion-item {

      .item-inner {
        overflow: visible;
      }

      ion-label {
        overflow: visible;

        &.label.label-md {
          margin-top: 12px;
          margin-bottom: 2px;
        }
      }

      h2 {
        display: inline-block;

        span {
          font-size: 1.4rem;
        }

        @include MQ(iPadPro_w & iPadPro_h) {
          font-size: 1.4rem !important;

          span {
            font-size: 1.2rem;
          }
        }
      }

      button.item-button {
        top: -5px;
        margin-left: 16px;
        margin-right: 10px;
        padding: 0 1.1em !important;
        height: 3.6rem !important;
        box-shadow: none;
      }
    }
  }


}
