<ion-header hidden="hidden">
  <ion-navbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="lightGallery" no-bounce>

  <section>
    <ion-grid>
      <ion-row>
        <ion-col col-12>

          <!-- Exterior Gallery -->
          <div *ngIf="selectedGallery == 'exterior'">
            <ion-row>
              <ion-col col-lg-12>
                <ion-slides #exterior pager="true" autoplay="5000" loop="true" speed="600" autoplayDisableOnInteraction=false (ionSlideDidChange)="slideChanged()">
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/gallery/becker-lobby3.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/gallery/becker-co.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/gallery/perkins-conf1.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/gallery/perkins-stairs1.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/gallery/schwabe1.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/gallery/terrace2.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/gallery/terrace3.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/gallery/terrace1.jpg" />
                      </div>
                    </ion-slide>
                </ion-slides>
              </ion-col>
            </ion-row>
          </div>


          <!-- Interior Gallery -->
          <!-- <div *ngIf="selectedGallery == 'interior'">
            <ion-row>
              <ion-col col-lg-12>
                <ion-slides #interior pager="true" autoplay="5000" loop="true" speed="600" autoplayDisableOnInteraction=false (ionSlideDidChange)="slideChanged()">

                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/interior/interior-01.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/interior/interior-02.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/interior/interior-03.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/interior/interior-04.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/interior/interior-05.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/interior/interior-06.jpg" />
                      </div>
                    </ion-slide>
                    <ion-slide>
                      <div class="flex-container height-full">
                        <img class="galleryItem" src="assets/img/interior/interior-07.jpg" />
                      </div>
                    </ion-slide>

                </ion-slides>
              </ion-col>
            </ion-row>
          </div> -->

        </ion-col>
      </ion-row>


      <!-- Aside -->
      <!-- <ion-row>

        <ion-col col-lg-6>
          <ion-list radio-group [(ngModel)]="selectedGallery">
              <ion-item ion-col col-lg-4 style="display:inline-block">
                <ion-label for="exterior">Exterior Photos</ion-label>
                <ion-radio #exterior id="exterior" value="exterior" (click)="selectedGallery = exterior.value;presentLoading()"></ion-radio>
              </ion-item>

              <ion-item ion-col col-lg-4 style="display:inline-block">
                <ion-label>Interior Photos</ion-label>
                <ion-radio #interior id="interior" value="interior" (click)="selectedGallery = interior.value;presentLoading()"></ion-radio>>
              </ion-item>

          </ion-list>
        </ion-col>

      </ion-row> -->

    </ion-grid>
  </section>


</ion-content>
