page-gallery {

  ion-content {
    background-color: #2e2e2f !important;

    .card-md + ion-card {
      margin-top: 10px !important;
    }

    ion-card-content {
      padding: 0 16px !important;

      ion-card-title {
        font-weight: 400;
      }
    }

    .flex-container.height-full {
      max-width: 100%;
      height: 100%;
      max-height: calc(100vh - 64px - 22px);

      .gallery {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100vw;
        height: 100vh;
        display: block;

        &.one {
          background-image: url('../assets/img/gallery/becker-lobby3.jpg');
        }
        &.two {
          background-image: url('../assets/img/gallery/becker-co.jpg');
        }
        &.three {
          background-image: url('../assets/img/gallery/perkins-conf1.jpg');
        }
        &.four {
          background-image: url('../assets/img/gallery/perkins-stairs1.jpg');
        }
        &.five {
          background-image: url('../assets/img/gallery/schwabe1.jpg');
        }
        &.six {
          background-image: url('../assets/img/gallery/terrace2.jpg');
        }
        &.seven {
          background-image: url('../assets/img/gallery/terrace3.jpg');
        }
        &.eight {
          background-image: url('../assets/img/gallery/terrace1.jpg');
        }

      }
    }

    ion-grid ion-row ion-col ion-row ion-col {
      padding: 0 !important;
    }

    .swiper-pagination-bullet {
      background: $secondary;
      border: 2px solid $secondary;
      border-radius: 50%;
      width: 14px;
      height: 14px;
    }
    .swiper-pagination-bullet-active {
      background: $primary;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 8px;
    }
  }

}
