page-gallery {

  ion-content {
    background-color: #2e2e2f !important;
    //color: #FFFFFF !important;

    .card-md + ion-card {
      margin-top: 10px !important;
    }

    ion-card-content {
      padding: 0 16px !important;

      ion-card-title {
        //text-transform: uppercase;
        font-weight: 400;
      }
    }
  }

}
