page-vitals {
  ion-content {
    background-color: $secondary;

    .scroll-content {
      background: $secondary;
      color: $white;
    }
  }

  .flex-container {
    // padding-top: 120px;

    h1 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 4rem;

      span {
        font-weight: 300;
      }
    }

    p {
      font-size: 1.8rem;
    }

    ul {
      padding-left: 24px;
    }

    .icon-cw {
      max-width: 72px;
      width: 72px;
      height: 72px;
      display: inline-block;
      // margin: 0 auto;

    }
    span.text-center,
    p.text-center {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
    }
  }
}
