page-home {

  .scroll-content {
    background-color: #FAFAFA;
    background-image: url('../../assets/img/home-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }


}
