page-home {

  ion-content, ion-content.content-ios {
    background-color: #2e2e2f;
    background: url('../assets/img/hero_treated-min.jpg') #2e2e2f;
    background-position: 30% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }

  .full-background {
    background-color: #2e2e2f;
    background: url('../assets/img/hero_treated-min.jpg') #2e2e2f;
    background-position: 30% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    z-index: 1;
  }

  .flex-container {
    padding: 7.2rem;
    position: relative;
    @include flex-vr-align(center);
    @include flex-hz-align(flex-start)
  }

  img.logo {
    width: 100%;
    height: 120px;
    padding: 0;
    margin: auto;
    position: relative;
  }

}
