page-home {

  ion-content {
    background-color: #FAFAFA;
    background-image: url('../../assets/img/hero_treated.jpg');
    background-position: 30% 10%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flex-container {
    padding: 7.2rem;
    @include flex-vr-align(center);
    @include flex-hz-align(flex-start)
  }

}
