// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// General
$font-size-base:      1.6rem !default;
$font-family-base: -apple-system, "Helvitica Neue", "Roboto", sans-serif !default;

body,
html {
  font-family: "Brandon Grotesque", "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// Navigation
$tabs-background:     #FAFAFA !default;
$tabs-border-color:   #FAFAFA !default;
$tabs-ios-border:     $hairlines-width solid $tabs-border-color !default;

$modal-inset-width: 1200px;
$modal-inset-height-large: 800px;



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #f0c41e,
  secondary:  #2e2e2f,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #212121,
  white:      #FDFDFD
);

$primary: #f0c41e;
$secondary: #2e2e2f;
$white: #FDFDFD;
$black: #121212;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Typography
// --------------------------------------------------
h1, .type-alt {
  -webkit-font-feature-settings:"kern" 1, "liga" 1, "ss01" 0, "ss02" 1, "dlig" 0;
     -moz-font-feature-settings:"kern" 1, "liga" 1, "ss01" 0, "ss02" 1, "dlig" 0;
      -ms-font-feature-settings:"kern" 1, "liga" 1, "ss01" 0, "ss02" 1, "dlig" 0;
          font-feature-settings:"kern" 1, "liga" 1, "ss01" 0, "ss02" 1, "dlig" 0;
}

h2, h3, h4, h5, section, article, p, span {
  -webkit-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1, "dlig" 0;
     -moz-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1, "dlig" 0;
      -ms-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1, "dlig" 0;
          font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1, "dlig" 0;
}

input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number], input[type=range], input[type=tel], input[type=week] {
  -webkit-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1, "dlig" 0;
     -moz-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1, "dlig" 0;
      -ms-font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1, "dlig" 0;
          font-feature-settings:"kern" 1, "liga" 1, "ss01" 1, "ss02" 1, "dlig" 0;
}

caption,tbody {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "onum" 1,"zero" 1, "ss01" 1, "ss02" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "onum" 1,"zero" 1, "ss01" 1, "ss02" 1;
      -ms-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "onum" 1,"zero" 1, "ss01" 1, "ss02" 1;
          font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "onum" 1,"zero" 1, "ss01" 1, "ss02" 1;
}


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "../assets/fonts/pacwest-icon";

@font-face {
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 300;
  src: local("Brandon Grotesque Regular"), local("Brandon-Grotesque-Regular"),  url("../assets/fonts/Brandon_reg.otf") format("opentype");
}

@font-face {
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 500;
  src: local("Brandon Grotesque Medium"), local("Brandon-Grotesque-Medium"),  url("../assets/fonts/Brandon_med.otf") format("opentype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: local("Raleway Light"), local("Raleway-Light"),  url("../assets/fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Regular"), local("Raleway-Regular"),  url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"),  url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"),  url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
}
