// http://ionicframework.com/docs/v2/theming/


// App Global Mixins

// Media Queries
$S:      480px;
$M:      800px;
$L:     1280px;
$XL:    1440px;

// --Mixin
@mixin MQ($canvas) {
  @if $canvas == S {
   @media (max-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media (min-width: $S) and (max-width:$M) { @content; }
  }
  @else if $canvas == L {
   @media (min-width: $M) and (max-width:$L) { @content; }
  }
  @else if $canvas == XL {
    @media (min-width: $L) { @content; }
  }
}



// Flex that Box
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin flex-vr-align($values) {
  -webkit-align-items: $values;
  align-items:  $values;
}

@mixin flex-hz-align($values) {
  -webkit-justify-content: $values;
  justify-content: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

.flex-container {
  @include flexbox();
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;


  .flex-item {
    @include flex(0 1 auto);
    @include order(1);
  }

  // Flex Percentages
  .flex-item.flex-full {
    @include flex(0 100%);
  }
  .flex-item.flex-90per {
    @include flex(0 90%);
  }
  .flex-item.flex-80per {
    @include flex(0 80%);
  }
  .flex-item.flex-75per {
    @include flex(0 75%);
  }
  .flex-item.flex-70per {
    @include flex(0 70%);
  }
  .flex-item.flex-60per {
    @include flex(0 60%);
  }
  .flex-item.flex-50per {
    @include flex(0 50%);
  }
  .flex-item.flex-40per {
    @include flex(0 40%);
  }
  .flex-item.flex-25per {
    @include flex(0 25%);
  }
  .flex-item.flex-20per {
    @include flex(0 20%);
  }
  .flex-item.flex-10per {
    @include flex(0 10%);
  }

  // Flex Thirds
  .flex-item.flex-thirdx2 {
    @include flex(0 66.666666%);
  }
  .flex-item.flex-thirdx1 {
    @include flex(0 33.333333%);
  }

  // Flex Exact
  .flex-item.flex-420px {
    @include flex(0 420px);
  }
  .flex-item.flex-320px {
    @include flex(0 320px);
  }


  .row-reverse {
    -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .row-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .row-nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

}

//Align-Content
.align-flex-start {
  -webkit-align-items: flex-start;
          align-items: flex-start;
}
.align-flex-end {
  -webkit-align-items: flex-end;
          align-items: flex-end;
}
.align-space-between {
  -webkit-align-items: space-between;
          align-items: space-between;
}
.align-space-around {
  -webkit-align-items: space-around;
          align-items: space-around;
}
.align-baseline {
  -webkit-align-items: baseline;
          align-items: baseline;
}
.align-stretch {
  -webkit-align-items: stretch;
          align-items: stretch;
}
.align-middle {
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-items: center;
        justify-content: center;
}


//Align-Self
.align-self-start {
  -webkit-align-self: flex-start;
          align-self: flex-start;
}
.align-self-end {
  -webkit-align-self: flex-end;
          align-self: flex-end;
}
.align-self-between {
  -webkit-align-self: space-between;
          align-self: space-between;
}
.align-self-around {
  -webkit-align-self: space-around;
          align-self: space-around;
}
.align-self-baseline {
  -webkit-align-self: baseline;
          align-self: baseline;
}
.align-self-stretch {
  -webkit-align-self: stretch;
          align-self: stretch;
}
.align-self-center {
  -webkit-align-self: center;
          align-self: center;
}


//Justify-Content
.justify-flex-start {
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}
.justify-flex-end {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}
.justify-space-between {
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.justify-space-around {
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

.height-full {
  height: 100%;
}
.height-auto {
  height: auto;
}


//Typography
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitlize {
  text-transform: capitalize;
}

.text-thin {
  font-weight: 100;
}
.text-medium {
  font-weight: 300;
}
.text-bold {
  font-weight: bold;
  font-weight: 600;
}

.text-left {
  text-align:  left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}





//Color
.yellow {
  color: #f0c41e;
}
$primary-yellow: #f0c41e;







// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Overrides
$tabs-ios-tab-font-size: 2.2rem;

ion-tabs {
  .tab-button {
    min-height: 64px !important;
    font-size: $tabs-ios-tab-font-size;
  }

  &.tabs-md .tabbar,
  &.tabs-ios .tabbar {
    // background: $secondary;
  }

}

.tabs-md .tab-button-text,
.tabs-ios .tab-button-text {
  font-family: "Raleway", "Roboto", "Helvitica Neue", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.enable-hover a:hover {
  color: darken(#f0c41e, 10%);
  opacity: 1;
}

h1, h2, h3, h4, h5, h6, .title, h1 span, h2 span, h3 span, h4 span {
  font-family: "Raleway", "Roboto", "Helvitica Neue", sans-serif;
  font-weight: 500;
}
section, article, p, span {
  font-family: "Brandon Grotesque", "Raleway", "Roboto", "Helvitica Neue", sans-serif;
}

.content-md {
  background: $secondary;
}
.menu-inner .content-md {
  background: #FFF;
}
ion-footer {
  background: $white;

  // background: $secondary;
}

::-webkit-scrollbar {
  display: none;
}





// Imports
//@import 'node_modules/lightgallery/dist/css/lightgallery.min.css';
