page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  ion-slide {
    background: #FAFAFA;


    h2 {
      color: $secondary;

      span.primary {
        font-family: "Raleway", "Roboto", "Helvitica Neue", sans-serif;
        color: $primary;
      }
    }

    button, button.button-inner {
      text-transform: uppercase !important;
    }
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }
  .gContainer {
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    margin-top: 240px;

    margin-top: 12vh;

    @include MQ(S) {
      margin-top: 24px;
    }

    @include MQ(M) {
      margin-top: 16vh;
    }

    &.header,
    &.footer {
      margin-top: 0;
    }
  }

  @media (max-width: 400px) {
    .gContainer {
      margin-top: 24px;
    }
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 16px;
    line-height: 1.5;
    color: $secondary;
    font-family: "Raleway", "Roboto", "Helvitica Neue", sans-serif;

    b, strong {
      color: $primary;
      font-weight: 700;
    }
  }

}
