<ion-header hidden="hidden">
  <ion-navbar>
    <ion-title>Tutorial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <div class="gContainer">
        <img [src]="slide.image" class="slide-image"/>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="gContainer">
        <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
        <h2 class="slide-title">Ready to Play?</h2>
        <button ion-button icon-right large clear (click)="startApp()">
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-shadow>
  <ion-navbar>
    <div class="gContainer footer">
      <ion-buttons end *ngIf="showSkip">
        <button ion-button (click)="startApp()" color="primary">Skip</button>
      </ion-buttons>
    </div>
  </ion-navbar>
</ion-footer>
